<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="JPJ" connectionString="Data Source=RVG\SQLEXPRESS;Initial Catalog=JPJ;Integrated Security=SSPI" />
        <add name="Equinoxe4" connectionString="Data Source=RVG\SQLEXPRESS;Initial Catalog=Equinoxe4;Integrated Security=SSPI" />
    </connectionStrings>
</configuration>